POSTGRES_DB=flowise
POSTGRES_USER=flowise
POSTGRES_PASSWORD=changeme_secure_password

FLOWISE_PORT=3000
FLOWISE_USERNAME=admin
FLOWISE_PASSWORD=changeme_admin_password

TIMEZONE=Europe/Paris

OPENAI_GATEWAY_API_KEY=
OPENAI_GATEWAY_BASE_URL=https://ai-gateway.liora.tech/v1
OPENAI_GATEWAY_MODEL=gpt-4.1-nano

ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=sonnet-4-6

aws_access_key_id=
aws_secret_access_key=
aws_session_token=


MCP_SERVER_PORT=8001